#layout-topbar {
  display: flex;
  padding: 0;
  height: 65px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9997;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
}

.button{
  margin-right: 3px;
  float: right;
}
