<p-dialog [(visible)]="display" header="{{dialogHeader}}" modal="true" (onShow)="onDisplayChange(true)"
          (onHide)="onDisplayChange(false)">
  <div class="dialog">
    <form [formGroup]="bookEditForm" (submit)="onBookChange()" class="form-inline">
      <label class="label" for="fldBookName">Название книги *</label>
      <div class="ui-inputgroup">
        <input
          class="input-text"
          pInputText type="text"
          id="fldBookName"
          formControlName="bookName"
          placeholder="Название книги"
          pTooltip="Введите название книги">
      </div>
      <div *ngIf="submitted && bookEditForm.controls['bookName'].invalid &&
        (bookEditForm.controls['bookName'].dirty || bookEditForm.controls['bookName'].touched)" class="alert alert-danger">
        <div *ngIf="bookEditForm.controls['bookName'].errors.required"></div>
      </div>
      <label class="label" for="authors">Автор</label>
      <div class="ui-inputgroup">
        <div class="dropdown">
          <p-dropdown
            id="authors"
            [options]="authors"
            [(ngModel)]="selectedAuthor"
            (ngModelChange)="onAuthorChange($event)"
            [ngModelOptions]="{standalone: true}"
            placeholder="Выберите автора"
            optionLabel="name"
            [style]="{'width': '100%'}">
          </p-dropdown>
        </div>
      </div>
      <label class="label" for="genre">Жанр</label>
      <div class="ui-inputgroup">
        <p-table id="genre" [value]="genres" [(selection)]="selectedGenres" dataKey="id">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col" style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th scope="col">Genre Name</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-genre>
            <tr>
              <td>
                <p-tableCheckbox [value]="genre"></p-tableCheckbox>
              </td>
              <td>{{genre.name}}</td>
          </ng-template>
        </p-table>
      </div>

      <div class="btn-blk">
        <p-button
          class="button"
          type="submit"
          label="Сохранить"
          icon="pi pi-check"
          iconPos="right"
          [disabled]="!bookEditForm.valid">
        </p-button>
        <p-button
          class="button"
          type="button"
          (onClick)="onDisplayChange(false)"
          label="Отмена"
          icon="pi pi-times"
          iconPos="right">
        </p-button>
      </div>
    </form>
  </div>
</p-dialog>
