<div id="layout-content">
  <div class="card p-grid p-align-center p-nogutter">
    <div class="p-col"></div>
    <div class="p-col-10 p-col-align-center">
      <p-panel>
        <p-tabView>
          <p-tabPanel header="Книги">
            <app-books-tab></app-books-tab>
          </p-tabPanel>
          <p-tabPanel header="Справочник авторов">
            <app-authors-tab></app-authors-tab>
          </p-tabPanel>
          <p-tabPanel header="Справочник жанров">
            <app-genres-tab></app-genres-tab>
          </p-tabPanel>
        </p-tabView>
      </p-panel>
    </div>
    <div class="p-col"></div>
  </div>
</div>
