.dialog {
  width: 500px;
}
.ui-inputgroup {
  width: 100%
}
.input-text {
  width: 100%
}
.button {
  padding-top: 15px;
  width: 150px;
}
.label {
  font-weight: bold;
  padding-top: 10px;
}
.btn-blk {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
